body
{
    width: 100%;
    margin: 0%;
    position: fixed;
    opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s; /* Safari */
}

.grid
{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

#right
{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#rightText
{
    position: absolute;
    opacity: 0.4;
    padding: 10%;
    border: 9px solid rgba(140, 26, 26, 0.5);
    margin: 10%;
    font-family: 'Monoton', cursive;
    font-size: 4em;
    background-color: black;
    color: white;
}


#typeWriter
{
    padding-left: 10%;
    padding-bottom: 0%;
}

#left
{
    background-color: white;
    min-height: 100%;
}

#leftText
{
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size: 4em;
    padding-top: 5%;
    padding-left: 10%;
}

.buttons
 {
     -webkit-user-select: none;
 }

.buttons:hover {
    box-shadow: 3px 3px red;
    transform: translate(0px, 0px);
}

.buttons:active {
    background-color: transparent;
    box-shadow: 1px 1px white;
    transform: translate(2px, 2px);
}

button:focus {outline:0;}

#buttonLeft1
{
    padding-top: 10%;
    padding-left: 10%;
}

#buttonL1
{
    background-color: transparent;
    color: black;
    border: 2px solid black;
    border-radius: 0px;
    height: 5em;
    width: 5em;
}

#buttonLeft2
{
    padding-bottom: 20%;
    padding-left: 10%;
}

#buttonL2
{
    background-color: black;
    font-size: 1em;
    color: white;
    border: 2px solid black;
    border-radius: 0px;
    height: 4em;
    width: 15em;
}

#links
{
    padding-bottom: 5%;
    padding-left: 80%;
}

h1 {
    font-size: 5em;
    color: black;
}

span {
    animation: caret 1s steps(50) infinite;
}

@keyframes caret {
    50% {border-color: transparent;}
}
