#buttons {
    position: relative;
}

#buttons_grid {
    justify-self: end;
    grid-column: 1/5;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    justify-items: start;
}

.button {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: transparent;
    -webkit-user-select: none;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: black;
    box-shadow: 3px 3px white;
    transform: translate(0px, 0px);
}

.button:active {
    background-color: transparent;
    box-shadow: 1px 1px white;
    transform: translate(2px, 2px);
}
